.gift-box {
  width: 105px; /* Change to desired width */
  height: 85px; /* Change to desired height */
  margin: 0 auto;
  position: relative; /* Add position relative to position absolutely */
  top: 140px; /* Adjust as needed */
  left: -680px; /* Adjust as needed */
  cursor: url('purple2.png'), auto;
  
}

.gift-box2 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: 55px; /* Same top value as gift-box */
    left: -430px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box3 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -30px; /* Same top value as gift-box */
    left: -180px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box4 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -115px; /* Same top value as gift-box */
    left: 70px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box5 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -200px; /* Same top value as gift-box */
    left: 320px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box6 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -285px; /* Same top value as gift-box */
    left: 570px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box7 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -80px; /* Same top value as gift-box */
    left: -680px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box8 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -165px; /* Same top value as gift-box */
    left: -430px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box9 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -250px; /* Same top value as gift-box */
    left: -180px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box10 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -330px; /* Same top value as gift-box */
    left: 70px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box11 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -415px; /* Same top value as gift-box */
    left: 320px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box12 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -500px; /* Same top value as gift-box */
    left: 570px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}

.gift-box13 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -285px; /* Same top value as gift-box */
    left: -680px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box14 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -370px; /* Same top value as gift-box */
    left: -430px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box15 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -455px; /* Same top value as gift-box */
    left: -180px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box16 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -535px; /* Same top value as gift-box */
    left: 70px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box17 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -620px; /* Same top value as gift-box */
    left: 320px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box18 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -705px; /* Same top value as gift-box */
    left: 570px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box19 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -495px; /* Same top value as gift-box */
    left: -305px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}
.gift-box20 {
    width: 105px; /* Same width as gift-box */
    height: 85px; /* Same height as gift-box */
    margin: 0 auto;
    position: relative; /* Position absolutely within the containing block */
    top: -580px; /* Same top value as gift-box */
    left: 0px; /* Adjust this value based on the width of gift-box-1 and desired gap */
    cursor: url('purple2.png'), auto; /* Same cursor as gift-box */
}

.box, .lid {
  background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(2, 15, 201);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: absolute;
}

.box {
  width: 200px; /* Change to desired width */
  height: 150px; /* Change to desired height */
}

.lid {
  width: 200px; /* Change to desired width */
  height: 40px; /* Change to desired height */
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: rgb(216, 52, 52);
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  transition: 
    top ease-out 0.5s,
    left ease-out 0.5s,
    transform ease-out 0.5s;

}

.box span, .lid span {
  position: absolute;
  display: block;
  background: rgba(235, 199, 0, 0.8);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

.box span:first-child {
  width: 100%;
  height: 25px;
  top: 65px;
}

.box span:last-child, .lid span {
  width: 25px;
  height: 100%;
  left: 92px;
}

.lid span {
  left: 94px;
}


.open {
    top: -50px;
    left: 100px;
    transform: translateY(-40px) rotateZ(30deg);
    
}


.gift-box2 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(211, 56, 232);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.gift-box3 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(96, 235, 122);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.gift-box4 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(0,0,0);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.gift-box5 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(110, 230, 216);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box6 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(67, 51, 158);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box7 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(224, 22, 160);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box8 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(0,256,256);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box9 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(90,20,204);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box10 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(144, 3, 191);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box11 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(249, 52, 80);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box12 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
   rgb(176, 114, 2);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.gift-box13 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(255,0,255);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

.gift-box14 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(135, 206, 235);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box15 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(92, 64, 51);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box15 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(92, 64, 51);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box16 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(255,215,0);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box17 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
   rgb(104, 222, 158);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box18 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(194, 30, 86);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box19 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(92, 179, 255);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
.gift-box20 .box{
background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(69, 69, 69);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}






.gift-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-width: 800px; /* Adjust as needed */
    max-height: 600px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999; /* Ensure it's above other content */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.gift-content2 {
    /* Additional styling specific to boxes containing audio */
    /* Add your custom styles here */

    /* Audio player container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-player {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.audio-player audio {
    width: 100%;
    outline: none; /* Remove outline */
}

.audio-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.audio-controls button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.audio-controls button:hover {
    background-color: #45a049;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other content */
}

/* Optional: Add animation for the display box */
.gift-content {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


